<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="container">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <h1>{{ siteName }}</h1>
                    </div>
                    <div class="nav navbar-nav navbar-right cart">
                        <button type="button" class="btn btn-default btn-lg" @click="showCheckout"><span class="glyphicon glyphicon-shopping-cart">{{ cartItemCount }}</span> Checkout</button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row product">
                    <div v-if="showProduct">
                        <div class="col-md-2 col-md-offset-1">
                            <figure>
                                <img :src="product.image" alt="catFood">
                            </figure>
                        </div>
                        <div class="col-md-6 col-md-offset-2 description">
                            <h1 v-text="product.title"></h1>
                            <p v-html="product.description"></p>
                            <p class="price">{{ product.price | formatPrice }}</p>
                            <button @click="addToCart" v-if="canAddToCart" class="btn btn-primary btn-lg">Add to cart</button>
                            <button v-else disabled="true" class="btn btn-primary btn-lg">Add to cart</button>
                            <span class="inventory-message" v-if="product.availableInventory - cartItemCount === 0">Only {{product.availableInventory - cartItemCount}} left!</span>
                            <span class="inventory-message" v-else-if="product.availableInventory - cartItemCount < 5">Only {{product.availableInventory - cartItemCount}} left!</span>
                            <span class="inventory-message" v-else>Buy Now!</span>
                        </div>
                    </div>
                    <div class="" v-else>
                        <div class="col-md-6">
                            <strong>First Name:</strong>
                            <input v-model.trim="order.firstname" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <strong>Last Name:</strong>
                            <input v-model.trim.lazy="order.lastname" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>Address:</strong></div>
                            <div class="col-md-12">
                                <input v-model="order.address" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12"><strong>City:</strong></div>
                            <div class="col-md-12">
                                <input v-model="order.city" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <strong>State:</strong>
                                <select v-model="order.state" class="form-control">
                                    <option disabled value="">State</option>
                                    <option v-for="(state, key) in states" :value="state">{{ key }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <strong>Zip / Postal Code:</strong>
                                <input v-model.number="order.zip" type="number" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 boxes">
                                <input type="checkbox" id="gift" value="true" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift" v-model="order.gift">
                                <label for="gift">Ship As Gift?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 boxes">
                                <input type="radio" id="home" :value="order.home" v-model="order.method">
                                <label for="home">Home</label>
                                <input type="radio" id="business" :value="order.business" v-model="order.method">
                                <label for="business">Business</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">Place Order</button>
                            </div>
                        </div>
                        <div class="col-md-12 verify">
                            <pre>
                                First Name: {{order.firstname}}
                                Last Name: {{order.lastname}}
                                Address: {{order.address}}
                                City: {{order.city}}
                                Zip: {{order.zip}}
                                State: {{order.state}}
                                Method: {{order.method}}
                                Gift: {{order.gift}}
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

<script type="text/javascript">
    let webstore = new Vue({
        el: '#app',
        data: {
            siteName: "Vue.js Pet Depot",
            product: {
                id: 1001,
                title: "Cat Food, 25lb bag",
                description: "A 25 pound bag of <em>irresistible</em>," + " organic goodness for your cat.",
                price: 150000000,
                image: "assets/images/product-fullsize.png",
                availableInventory: 10,
            },
            order: {
                firstname: "",
                lastname: "",
                address: "",
                city: "",
                zip: "",
                state: "",
                method: "Home Address",
                home: "Home Address",
                business: "Business Address",
                gift: "Send As A Gift",
                sendGift: "Send As A Gift",
                dontSendGift: "Do Not Send As A Gift",
            },
            cart: [],
            showProduct: true,
            states: {
                AL: "Alabama",
                AR: "Arizona",
                CA: "California",
                NV: "Nevada"
            }
        },
        filters: {
            formatPrice(price) {
                if (!parseInt(price)) { return ""; }
                if (price > 99999) {
                    let priceString = (price / 100).toFixed(2);
                    let priceArray = priceString.split("").reverse();
                    let index = 3;
                    while (priceArray.length > index + 3) {
                        priceArray.splice(index + 3, 0, ",");
                        index += 4;
                    }
                    return "$" + priceArray.reverse().join("");
                } else {
                    return "$" + (price / 100).toFixed(2);
                }
            }
        },
        methods: {
            addToCart() {
                this.cart.push(this.product.id);
            },
            showCheckout() {
              this.showProduct = this.showProduct ? false : true;
            },
            submitForm() {
                alert('Submitted');
            }
        },
        computed: {
            cartItemCount() {
                return this.cart.length || "";
            },
            canAddToCart() {
              return this.product.availableInventory > this.cartItemCount;
            }
        }
    });
</script>
</html>